<app-header title="Registrarse"></app-header>

<ion-content [fullscreen]="true">
  <div class="form">
      <app-logo></app-logo>
      <form [formGroup]="loginForm" (ngSubmit)="register()">
          <app-custom-input 
              icon="person-outline" 
              type ="text"
              autocomplete="name"
              label = "Nombre"
              [control]="loginForm.controls.name"></app-custom-input>
          <div class="error" *ngIf="loginForm.controls.name.errors && loginForm.controls.name.touched">
              <span *ngIf="loginForm.controls.name.errors?.['required']">El correo electronico es obligatorio</span>
              <span *ngIf="loginForm.controls.name.errors?.['minLength']">El nombre debe ser minimo de 4 letras</span>
          </div>
          
          <app-custom-input 
              icon="mail-outline" 
              type ="email"
              autocomplete="email"
              label = "Correo"
              [control]="loginForm.controls.email"></app-custom-input>
          <div class="error" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">
              <span *ngIf="loginForm.controls.email.errors?.['required']">El correo electronico es obligatorio</span>
              <span *ngIf="loginForm.controls.email.errors?.['email']">Ingrese un correo valido</span>
          </div>
          
          <app-custom-input 
              icon="lock-closed-outline" 
              type="password"
              label="Contraseña"
              [control] ="loginForm.controls.password"></app-custom-input>
          <div class="error" *ngIf="loginForm.controls.password.errors && loginForm.controls.password.touched">
              <span *ngIf="loginForm.controls.password.errors?.['required']">La contraseña es obligatoria</span>
          </div>
          <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="loginForm.invalid">
              Crear cuenta
          </ion-button>
      </form>
      <p class="small">¿Ya tienes cuenta? <a href="" routerLink="">Iniciar sesion</a></p>
  </div>
</ion-content>