<app-header title="Agregar producto" [isModal]="true"></app-header>
<ion-content>
    <div class="form">
        <form [formGroup]="productForm" (ngSubmit)="register()" class="ion-padding ion-text-center">
            <app-custom-input 
                type ="text"
                label = "Nombre"
                [control]="productForm.controls.name"></app-custom-input>
            <div class="error" *ngIf="productForm.controls.name.errors && productForm.controls.name.touched">
                <span *ngIf="productForm.controls.name.errors?.['required']">El nombre es obligatorio</span>
                <span *ngIf="productForm.controls.name.errors?.['minLength']">El nombre debe ser minimo de 4 letras</span>
            </div>
            
            <app-custom-input 
                type ="number"
                label = "Precio"
                [control]="productForm.controls.price"></app-custom-input>
            <div class="error" *ngIf="productForm.controls.price.errors && productForm.controls.price.touched">
                <span *ngIf="productForm.controls.price.errors?.['required']">El precio es obligatorio</span>
                <span *ngIf="productForm.controls.price.errors?.['min']">El precio debe ser minimo cero</span>
            </div>
            
            <app-custom-input 
                type ="number"
                label = "Unidades vendidas"
                [control]="productForm.controls.totalUnits"></app-custom-input>
            <div class="error" *ngIf="productForm.controls.totalUnits.errors && productForm.controls.totalUnits.touched">
                <span *ngIf="productForm.controls.totalUnits.errors?.['required']">Las unidades vendidas es obligatorio</span>
                <span *ngIf="productForm.controls.totalUnits.errors?.['min']">Las unidades vendidas deber ser minimo cero</span>
            </div>
            
            <ion-button expand="block" mode="ios" class="submit" type="submit" [disabled]="productForm.invalid">
                Agregar producto
                <ion-icon slot="end" name="checkmark-circle-outline"></ion-icon>
            </ion-button>
        </form>
    </div>
</ion-content>