<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid class="ion-margin-top ion-padding">
    <ion-row *ngIf="students && students.length == 0">
        <ion-col class="ion-text-center">
          <ion-text>No hay alumnos registrados</ion-text>
        </ion-col>
    </ion-row>
    
    <div *ngIf="!showForm">
      <ion-row>
        <ion-col>
          <ion-searchbar 
            [debounce]="1000"
            search-icon="search-circle"
            placeholder = "Buscar..."
            color="light"
            (ionInput)="searchStudent($event)"></ion-searchbar>
        </ion-col>
      </ion-row>
  
      <ion-row *ngFor="let row of students">
        <ion-col>
          <ion-item-sliding>
            <ion-item>
              {{ row.name }} {{ row.surname }}
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="warning" (click)="updateStudent(row)">
                <ion-icon name="create-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="deleteStudentConfirm(row)">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-col>
      </ion-row>
    </div>

    <ion-row *ngIf="showForm">
      <app-form-student [student]="studentSelected" (close)="onCloseForm()" (get)="getStudents()"></app-form-student>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!showForm">
    <ion-fab-button (click)="onShowForm()" size="small">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
