<form (ngSubmit)="createUpdateStudent()">
  <ion-item>
    <ion-input label="Nombre" type="text" name="name" [(ngModel)]="student.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Apellidos" type="text" name="surname" [(ngModel)]="student.surname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Correo" type="text" name="email" [(ngModel)]="student.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Telefono" type="text" name="phone" [(ngModel)]="student.phone"></ion-input>
  </ion-item>
  <div>
    <ion-button (click)="onCloseForm()" size="small">Volver</ion-button>
    <ion-button type="submit" size="small">{{ (update) ? 'Actualizar estudiante' : 'Agregar estudiante' }}</ion-button>
  </div>
</form>